.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto 0;
  border: 1px solid #838383;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin: 0 0 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  border-radius: 4px;
  max-width: 385px;
  padding: 15px 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border-radius: 4px;
  background-color: #1878dc;
  transition: background-color ease;
  padding: 20px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  transition: 1s ease-in 0s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
  width: 20px;
  height: 20px;
  margin: 32px 12px 0 0;
}

.form__checkbox:checked {
  background-color: #1878dc;
  background-image: url(../images/check.svg);
}
