.header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  z-index: 1;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  display: flex;
  flex-wrap: wrap;
  max-width: 729px;
  margin: 183px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  padding-left: 0;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  display: flex;
  flex-wrap: wrap;
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: -1;
  align-items: end;
}

.header__footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  justify-content: space-between;
  align-items: end;
}

.header__paragraph {
  margin: 0;
}

.header__hours {
  display: flex;
  flex-direction: column;
}
